*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore

# Explicitly track build outputs and apks in GitHub repository
!/.build-outputs
!/.build-outputs/
!/.build-outputs/*
!/.build-outputs/**
!/.build-outputs/app-debug.apk
!/build-outputs
!/build-outputs/
!/build-outputs/*
!/build-outputs/**
!/build-outputs/app-debug.apk
!/debug.keystore.base64
!debug.keystore.base64

